{% load static %}
<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <title>Document</title>
        <script src="{% static 'story_app/javascript/index.js'%}"></script>
    <link rel="stylesheet" href="{% static 'story_app/css/create.css' %}">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>

</head>
<body>
    <div class="main">    
        <h1 class="title">小説を書いてみよう</h1>
        <p><a href="{% url 'story_app:index'%}">ホーム画面に戻る</a></p>
    <div class="example">
        <p>自分好みの作品を自由に作成しよう</p>

    </div>

    <ul class="tab">
        <div class="wrapper">
            <li class="box"><a href="#free" onclick="toggleForm('userInputForm')">Free</a></li>         
            <li class="box"><a href="#mistery" onclick="toggleForm('autoInputForm')">ミステリー</a></li>     
            <li class="box"><a href="#fantasy" onclick="toggleForm('autoInputForm')">ファンタジー</a></li>             
            <li class="box"><a href="#science" onclick="toggleForm('autoInputForm')">SF</a></li>             
            <li class="box"><a href="#love" onclick="toggleForm('autoInputForm')">ラブコメ</a></li>             
            <li class="box"><a href="#holor" onclick="toggleForm('autoInputForm')">ホラー</a></li>             
            
        </div>
    </ul>
    <div class="contents">
        <div id="free" class="area">    
        <div id="userInputForm">
        <form method="post" class="generate">
            {% csrf_token %}
            <input type="hidden" name="formType" value="userInput"> <!-- 追加 -->
            <p>ジャンル</p>
            <input type="text" id="genre_input" name="genre_input" placeholder="恋愛、ファンタジー、ホラー、etc..." required>
            <p>主人公は誰？</p>
            <input type="text" id="who_input" name="who_input" placeholder="勇者、異能力者、探偵..." required>
            <p>場所</p>
            <input type="text" id="where_input" name="where_input" placeholder="学校、病院、etc..." required>
            <p>いつ？</p>
            <input type="text" id="when_input" name="when_input" placeholder="過去、現在、未来、etc..." required>
            <p>どのような展開にする？</p>
            <input type="text" id="how_input" name="how_input" placeholder="助ける展開、胸糞展開、etc..." required>
            <p>キーワード</p>
            <input  class="keyword" type="text" name="keyword"  placeholder="入れたいワードを入力" required/>    
            <br>
            <input type="submit" class="create" value="小説を作成">
        </form>
        </div>
    </div>

    <div id="mistery" class="area">  
        <div id="autoInputForm">
            <!-- <h1>プロンプトを入力</h1> -->
            <form  method="post" class="generate">
                {% csrf_token %}
                <input type="hidden" name="formType" value="autoInput"> <!-- 追加 -->
                <input class="genre" type="hidden" name="genre" id="ミステリー" value="ミステリー" required/>
                <p>進行役は誰？</p>
                <div class="who">
                    <input  class="whose" type="radio" name="who" id="友人" value="友人" required/>
                    <label for="友人">友人</label>
                    <input  class="whose" type="radio" name="who" id="助手" value="助手" required/>
                    <label for="助手">助手</label>
                    <input  class="whose" type="radio" name="who" id="犯人" value="犯人" required/>
                    <label for="犯人">犯人</label>
                    <input  class="whose" type="radio" name="who" id="神様視点" value="神様視点" required/>
                    <label for="神様視点">神様視点</label>
                    <input  class="whose" type="radio" name="who" id="恋人" value="恋人" required/>
                    <label for="恋人">恋人</label>
                </div>
                <p>場所</p>
                <input  class="where" type="text" name="where" id="where"placeholder="学校" required/>
                <p>時代設定</p>
                <input  class="when" type="text" name="when" id="when"placeholder="未来" required/>
                <p>どのような内容にする？</p>
                <input  class="how" type="text" name="how" id="how" placeholdere="泣ける展開" required/>
                <p>キーワード</p>
                <input  class="key" type="text" name="key" id="key"  placeholder="入れたいワードを入力" required/>
                <br>
                <input type="submit" class="create" value="小説を作成">
            </form>
        </div>               
    </div>
    <div id="fantasy" class="area">  
        <div id="autoInputForm">
            <form  method="post" class="generate">
                {% csrf_token %}
                <input type="hidden" name="formType" value="autoInput"> <!-- 追加 -->
                <input class="genre" type="hidden" name="genre" id="genre" value="ファンタジー" required/>
                <p>そこはどんな世界？</p>
                    <input  class="whose" type="text" name="who" id="who" placeholder="魔法の世界、恐竜のいる世界" required/>
                <p>どんなシーンを読みたい？</p>
                <div class="who">       
                    <select  class="where"name="where">
                        <option value="">戦い</option>
                        <option>初めての戦い</option>
                        <option>ライバルとの闘い</option>
                        <option>ラスボスとの闘い</option>
                    </select>
                    <input  class="where" type="radio" name="where" id="旅立ち" value="旅立ち" />
                    <label for="旅立ち">旅立ち</label>
                    <input  class="where" type="radio" name="where" id="出会い" value="出会い" />
                    <label for="出会い">出会い</label>
                    <input  class="where" type="radio" name="where" id="別れ" value="別れ" />
                    <label for="別れ">別れ</label>
                    <input  class="where" type="radio" name="where" id="裏切り" value="裏切り" />
                    <label for="裏切り">裏切り</label>

                </div>           
                <p>時間設定</p>
                    <input  class="when" type="text" name="when" id="when" placeholder="過去、未来、現在" required/>            
                <p>どんな内容にする？</p>
                    <input  class="how" type="text" name="how" id="how" placeholder="わくわく、希望に満ち溢れている、残酷な" required/>
                <p>キーワード</p>
                    <input  class="key" type="text" name="key"  placeholder="入れたいワードを入力" required/>                    
                <br>
                <input type="submit" class="create" value="小説を作成">
            </form>
        </div>
    </div> 
    <div id="science" class="area">  
        <div id="autoInputForm">
            <form  method="post" class="generate">
                {% csrf_token %}
                <input type="hidden" name="formType" value="autoInput"> <!-- 追加 -->
                    <input class="genre" type="hidden" name="genre" id="genre" value="SF" required/>
                <p>そこはどんな世界？</p>
                    <input  class="whose" type="text" name="whose" id="whose" placeholder="" required/>
                <p>どんなシーン？</p>
                    <input  class="where" type="text" name="where" id="where" placeholder="学校" required/>
                <p>時代設定？</p>
                    <input  class="when" type="text" name="when" id="when" placeholder="未来" required/>
                <p>どのような内容にする？</p>
                    <input  class="how" type="text" name="how" id="how" placeholder="不思議な内容" required/>
                <p>キーワード</p>
                <input  class="key" type="text" name="key"  placeholder="入れたいワードを入力" required/>         
                <br>
                <input type="submit" class="create" value="小説を作成">
            </form>
        </div>
    </div> 
    <div id="love" class="area">  
        <div id="autoInputForm">
            <form  method="post" class="generate">
                {% csrf_token %}
                <input type="hidden" name="formType" value="autoInput"> <!-- 追加 -->
                <p>ジャンル</p>
                    <input  class="genre" type="text" name="genre" id="genre" value="ラブコメ" required/>
                <p>主人公は誰？</p>
                    <input  class="whose" type="text" name="who" id="whose" placeholder="高校生、おじさん" required/>
                <p>場所</p>
                    <input  class="where" type="text" name="where" id="where" placeholder="学校" required/>
                <p>時代設定？</p>
                    <input  class="when" type="text" name="when" id="when" placeholder="未来" required/>
                <p>どのような展開にする？</p>
                    <input  class="how" type="text" name="how" id="how" placeholder="付き合う展開" required/>
                <p>キーワード</p>
                <input  class="key" type="text" name="key"  placeholder="入れたいワードを入力" required/>        
                <br>
                <input type="submit" class="create" value="小説を作成">
            </form>
        </div>
    </div> 
    <div id="holor" class="area">  
        <div id="autoInputForm">
            <form  method="post" class="generate">
                {% csrf_token %}
                <input type="hidden" name="formType" value="autoInput"> <!-- 追加 -->
                    <input class="genre" type="hidden" name="genre" id="ホラー" value="ホラー" required/>
                <p>主人公の設定</p>
                    <input  class="whose" type="text" name="who" id="whose" placeholder="勇者" required/>
                <p>場所</p>
                    <input  class="where" type="text" name="where" id="where" placeholder="学校" required/>
                <p>いつ？</p>
                    <input  class="when" type="text" name="when" id="when" placeholder="未来" required/>
                <p>どのような展開にする？</p>
                    <input  class="how" type="text" name="how" id="how" placeholder="泣ける展開" required/>
                <p>キーワード</p>
                <input  class="key" type="text" name="key"  placeholder="入れたいワードを入力" required/>          
                <br>
                <input type="submit" class="create" value="小説を作成">
            </form>
        </div>  
        </div>
    </div> 
    <script>
document.addEventListener('DOMContentLoaded', function () {
    hideDuplicateTabs();
});               
</script>

<script>
    $('form').on('submit', function(){
        let insertHtml=`
        <!-- loading -->
        <div id="loading"">
            <div class="cv-spinner">
                <span class="spinner"></span>
                <p>小説を書いています</p>
            </div>
        </div>
        <!-- loading -->
        `
        let insertCSS=`
        <style>
            #loading{
                position: fixed;
                top: 0;
                left: 0;
                z-index: 999;
                width: 100%;
                height:100%;
                background: rgba(0,0,0,0.6);
            }
            #loading .cv-spinner {
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            #loading .spinner {
                width: 40px;
                height: 40px;
                border: 4px #ddd solid;
                border-top: 4px #999 solid;
                border-radius: 50%;
                animation: sp-anime 0.8s infinite linear;
            }
            #loading p {
                line-height: 40px;
                margin: 0 0 0 8px;
                text-align: center;
                color: #ddd
            }
            @keyframes sp-anime {
                0% { transform: rotate(0deg); }
                100% { transform: rotate(359deg); }
            }
            #loading.is-hide{
                display:none;
            }
        </style>
        `
        document.getElementsByTagName('head')[0].insertAdjacentHTML('beforeend', insertCSS);
        document.getElementsByTagName('body')[0].insertAdjacentHTML('afterbegin', insertHtml);
    });
</script>


</div>
    {% if generated_novel %}
    <h2>生成された小説:</h2>
    <p>{{title}}</p>
    <img src="{{ images.last.image.url }}" alt="{{ images.last.image_text }}">
    <p>{{ generated_novel }}</p>
    {% endif %}
</div>
</body>
        <script src="{% static 'story_app/javascript/index.js'%}"></script>

</html>