
<!-- 一覧表示ページ -->
{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    
    <link rel="stylesheet" href="{% static 'story_app/css/index.css' %}">
    <link rel="stylesheet" href="{% static 'story_app/css/contents.css' %}">
    <script src="{% static 'story_app/javascript/index.js'%}"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <title>top</title>
</head>
<body>
    <header>
        <div class="header">
            <h2 class="logo">小説作成サイト</h2>
            <div class="header-list">
                <ul>
                    <li class="header-list-item"><a href="#">マイページ</a></li>
                    <li class="header-list-item"><a href="{% url 'story_app:browse'%}">閲覧</a></li>
                    <li class="header-list-item"><a href="{% url 'story_app:create'%}">作成</a></li>
                </ul>
            </div>
        </div>
    </header>
    <div class="main">
        <div class="show-contents">
            <p class="show">作品一覧</p>
        <div class="contents">
            {% if genres_and_novels.items %}
                <ul class="tab">
                    <div class="wrapper">
                        {% for genre,novels in genres_and_novels.items %}
                        <li class="box"><a href="#{{genre}}">{{genre}}</a></li>           
                        {% endfor %}
                    </div>
                </ul>
{% for genre, novels in genres_and_novels.items %}
<div id="{{genre}}" class="area">  
    {% for novel in novels %}
    <div class="box11">
        {% if novel.image %}
            <div class="image">
                <img src="{{ novel.image.image.url }}" alt="{{ novel.title }}">
            </div>
        {% endif %}
        <strong>
            <p class="txt-limit"><a href="#">{{ novel.title }}</a></p>
        </strong>       
    </div>
    {% endfor %}
</div>
{% endfor %}

                <script>
                    document.addEventListener('DOMContentLoaded', function () {
                        hideDuplicateTabs();
                    });               
                </script>
            {% else %}
            <p>小説がありません</p>
            {% endif %}
            </div>
        </div>

    </div>

</body>
<script src="{% static 'story_app/javascript/index.js'%}"></script>
</html>