<!-- 一覧表示ページ -->
{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <link rel="stylesheet" href="{% static 'story_app/css/index.css' %}">
    <link rel="stylesheet" href="{% static 'story_app/css/contents.css' %}">
    <link rel="stylesheet" href="{% static 'story_app/css/nav.css' %}">
    <script src="{% static 'story_app/javascript/index.js'%}"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <title>top</title>
</head>
<body>
    <header>
        {% if user.is_authenticated %}
        <div class="header">
            <h2 class="logo">小説作成サイト</h2>
            <p>こんにちは {{ user.username }}さん</p>
            <div class="header-list">
                <!-- ハンバーガーメニュー部分 -->
                <div class="nav">
                    <!-- ハンバーガーメニューの表示・非表示を切り替えるチェックボックス -->
                    <input id="drawer_input" class="drawer_hidden" type="checkbox">
                    <!-- ハンバーガーアイコン -->
                    <label for="drawer_input" class="drawer_open"><span></span></label>
                    <!-- メニュー -->
                    <nav class="nav_content">
                        <ul class="nav_list">
                            <li class="header-list-item"><a href="#">マイページ</a></li>
                            <li class="header-list-item"><a href="{% url 'story_app:create'%}">作成</a></li>
                            <li class="header-list-item"><a href="{% url 'story_app:rank'%}">ランキング</a></li>
                            <li class="header-list-item"><a href="{% url 'logout' %}">ログアウト</a></li>
                            
                      </ul>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <div class="main">
        <div class="show-contents">
    <div class="contents">
        <p class="show">ジャンルから探す</p>
        {% if genres_and_novels.items %}
        <div class="scrolltab">
            <ul class="tab">
                    <div class="wrapper">
                    {% for genre,novels in genres_and_novels.items %}
                    <li class="box"><a href="#{{genre}}">{{genre}}</a></li>
                    {% endfor %}
                   </div>
            </ul>
        </div>
    <div class="scroll">
                {% for genre, novels in genres_and_novels.items %}
    <div id="{{genre}}" class="area">
    {% for novel in novels %}
    <div class="box11">
        {% if novel.image %}
        <div class="image">
            <a href="{% url 'story_app:detail' novel.id %}">
                    <img src="{{ novel.image.image.url }}" alt="{{ novel.title }}">
                </a>
            </div>
            {% endif %}
        <strong>
            <p class="txt-limit"><a href="{% url 'story_app:detail' novel.id %}">{{ novel.title }}</a></p>
        </strong>
        <i class="fas fa-heart">{{ novel.like }}</i>
    </div>
    {% endfor %}
    <p class="page"><strong><a href="{% url 'story_app:genre_page' genre %}">もっと見る</a>▶</strong></p>
</div>
{% endfor %}
</div>
<p class="show">最新順</p>
<div class="scroll2">
    <div class="area2">
        {% for novel in novel_time %}
        <div class="box11">
            {% if novel.image %}
            <div class="image">
                <a href="{% url 'story_app:detail' novel.id %}">
                    <img src="{{ novel.image.image.url }}" alt="{{ novel.title }}">
                </a>
            </div>
            {% endif %}
            <strong>
                <p class="txt-limit"><a href="{% url 'story_app:detail' novel.id %}">{{ novel.title }}</a></p>
            </strong>
            <i class="fas fa-heart">{{ novel.like }}</i>
        </div>
        {% endfor %}
        <p class="page"><strong><a href="{% url 'story_app:time_page'  %}">もっと見る</a>▶</strong></p>
    </div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function () {
            hideDuplicateTabs();
                    });
        </script>
            {% else %}
            <p>小説がありません</p>
            {% endif %}
        </div>
    </div>
</div>
<footer>
    <p class="footer-text">©xxx project</p>
</footer>
{% else %}
    <p>アカウントをお持ちの方はログインしてください。</p>
    <p>お持ちでない方はアカウントを作成してください。</p>
    <p><a href="{% url 'login' %}">ログイン</a></p>
    <p><a href="{% url 'accounts:signup' %}">アカウント作成</a></p>
{% endif %}
<script src="{% static 'story_app/javascript/index.js'%}"></script>
<script>
    const limit = document.querySelector(".txt-limit");
    const str = limit.textContent;
    const len = 3; // 半角50字（全角約25字）
    if (str.length > len) {
      limit.textContent = str.substring(0, len) + "…";
    }
</script>
</body>
</html>