/*tabの形状*/

.tab{
  display: table-header-group;
  flex-wrap: wrap;
  align-items: flex-start;
  margin: 0px;
  overflow-x: auto;
  white-space: nowrap;
  /* padding-left: 22px; */

}

.wrapper{
  display: inline-block;
}
.box{
  display: inline-block;
}
.tab li a{
  display: block;
  background:#209e4ac5;
  margin:0px;
  padding:10px 20px;
  color: #fff;
}
/*liにactiveクラスがついた時の形状*/
.tab li.active a{
  background:#fff;
  color: #333;

}
.page{
float: inline-end;

}

.scroll{
  position: relative;
  overflow-x: hidden; /* 横方向のスクロールを有効にする */
  white-space: nowrap; /* オブジェクトを横一列に配置するために必要 */
  /* padding: 0px 20px; */
  /* margin-left: 5px; */
  height: 245px;
  background-color: #fff;
}
.scroll::-webkit-scrollbar {
 width: 2px;
}

  /*エリアの表示非表示と形状*/
  .area {
    display: none;/*はじめは非表示*/
    opacity: 0;/*透過0*/
    background: #fff;

  }
  
  /*areaにis-activeというクラスがついた時の形状*/
  .area.is-active {
      display: inline-flex;/*表示*/
      animation-name: displayAnime;/*ふわっと表示させるためのアニメーション*/
      animation-duration: 2s;
      animation-fill-mode: forwards;
      
  }
  
  @keyframes displayAnime{
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  /*========= レイアウトのためのCSS ===============*/
  
  body{
    background:#eee;
  }
  
  ul{
    list-style:none;
  }
  
  a{
    color:#333;
    text-decoration: none;
  }
  
  .contents{
    width:100%;
  }

  
  .area{ 
    border-bottom: 1pxsolid #ddd;
    align-items: flex-start;
    
  }




  @media (max-width: 680px) {
    .scroll{
      margin: 0px;
      padding: 0px;
    }
    .header-list li{
      float: left;
      padding: 20px 10px;
    }
    .show-contents{
      display: block;
    }
    .contents{
      width:100%;

    }
    .tab{
      padding-left: 0px;
    }
   }
   