/*tabの形状*/

.tab{
  display: table-header-group;
  flex-wrap: wrap;
  align-items: flex-start;
  margin: 0px;
  overflow-x: auto;
  white-space: nowrap;
  /* padding-left: 22px; */

}

.wrapper{
  display: inline-block;
}
.box{
  display: inline-block;
}
.tab li a{
  display: block;
  background:#209e4ac5;
  margin:0px;
  padding:10px 20px;
  color: #fff;
}
/*liにactiveクラスがついた時の形状*/
.tab li.active a{
  background:#fff;
  color: #333;

}
.page{
position: absolute;
margin-top: 182px;
}
.scroll{
  overflow-x: hidden; /* 横方向のスクロールを有効にする */
  white-space: nowrap; /* オブジェクトを横一列に配置するために必要 */
  /* padding: 0px 20px; */
  /* margin-left: 5px; */
  height: 212px;
  position: relative;
  background-color: #fff;
}
.scrolltab{
  overflow-x: auto; /* 横方向のスクロールを有効にする */
  scrollbar-face-color:#fff;
}
.scroll::-webkit-scrollbar {
  display: none;
}
.scrolltab::-webkit-scrollbar {
  display: none;
 }

  /*エリアの表示非表示と形状*/
  .area {
    display: none;/*はじめは非表示*/
    opacity: 0;/*透過0*/
    background: #fff;

  }

  .scroll2{
    overflow-x:hidden; /* 横方向のスクロールを有効にする */
    white-space: nowrap; /* オブジェクトを横一列に配置するために必要 */
    /* padding: 0px 20px; */
    /* margin-left: 5px; */
    height: 217px;
    background-color: #fff;
    position: relative;
  }


  .area2{ 
    border-bottom: 1pxsolid #ddd;
    align-items: flex-start;
    display: flex;

  }

  /*areaにis-activeというクラスがついた時の形状*/
  .area.is-active {
      display: inline-flex;/*表示*/
      animation-name: displayAnime;/*ふわっと表示させるためのアニメーション*/
      animation-duration: 2s;
      animation-fill-mode: forwards;
      
  }
  
  @keyframes displayAnime{
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  /*========= レイアウトのためのCSS ===============*/
  
  body{
    background:#eee;
  }
  
  ul{
    list-style:none;
  }
  
  a{
    color:#333;
    text-decoration: none;
  }
  
  .contents{
    width:100%;
  }

  
  .area{ 
    border-bottom: 1pxsolid #ddd;
    align-items: flex-start;
    
  }




  @media (max-width: 680px) {
    .scroll{
      margin: 0px;
      padding: 0px;
    }
    .header-list li{
      float: left;
      padding: 20px 10px;
    }
    .show-contents{
      display: block;
    }
    .contents{
      width:100%;

    }
    .tab{
      padding-left: 0px;
    }
    .nav_content {
      width: 45%;
      margin-left: 55%;
   }
   .header-list li {
    /* margin-right: 0px; */
    margin-top: 41px;
    float: left;
    text-align: justify;
    padding: 14px 51px 14px 0px;
}


  }

