/* styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

a {
    text-decoration: none;
}

h2 {
    color: #333;
}

img {
    max-width: 100%;
    height: auto;
}

form {
    margin-top: 20px;
}

input[type="submit"] {
    background-color: #65ab88;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
}
